<div>
    <h2>User Input Demo</h2>

    <form>
        Username <input type = "text" name = "un" autocomplete="off" 
        [(ngModel)] = "username" #u> <br />
        Password <input type = "password" name = "pw" #p (input) = "enableButton(p.value)"> 
        <br />
        <input type = "button" value = "Login" [disabled] = "isDisabled" 
        
        (click) = "handleButton(u.value, p.value)">
    </form>
    <h3>Entered Username: {{username}} and Password: {{password}}</h3>
    <input [ngModel] = "username" name = "abc">
</div>
